<h1 style="color: red;">About the Website</h1>
<p>In the Hannover series, the world is a battle ground for proving your mental and physical prowess. Whether Hannover, ASTU, SorceSek or Black Dragon; everyone is called on to apply their intelligence and shift the Balance of Power in the world.</p>

<p>To take part in the site, readers need to join the site and own a copy of the Hannover Game novel, either as an <a href="http://amzn.to/1YqTBi3" target="book" title="Buy the eBook"><b>eBook</b></a> or in <a href="http://amzn.to/1YqTLpu" target="book" title="Buy the Print book"><b>Print</b></a>.</p>

<h3 style="color: red;">FAQ</h3>
<p><b>Is the website free?</b><br>
    Yes, the website is entirely and exclusively free to all Hannover series readers to <a href="/register">join and play</a>. As this site is a free bonus for Hannover series readers, you will need to have purchased your copy of the <a href="http://amzn.to/1YqTBi3" target="book" title="Buy the eBook">Hannover Game</a> in order to crack the code and prove you are a member of the Hannover reader community.
</p>
    
<p><b>How is the Balance of Power calculated?</b><br>
    Each time you complete a puzzle you get points, those points are added to your profile and your team's score. The team score is then added to the Hannover world total and the Balance of Power is calculated.
</p>

<hr>

<h2 style="color: red;">About the Hannover Game</h2>

<a href="http://amzn.to/1YqTBi3" target="book">
    <img src="images/Hannover-Game-front-cover-final.png" width="120" height="180" style="border:1px solid grey; box-shadow: 3px 3px 6px grey; margin-right: 15px;" align="left" alt="The Hannover Game" title="The Hannover Game"></a>

    <p>In the Hannover Game, the once retired Byford is again drawn back into service with Hannover, the secretive organisation he left several years earlier. The promise of a reward close to home proving impossible for the ageing operative to refuse. Meanwhile the Anti-Subversion and Terrorism Unit (ASTU) move into action to investigate a bold terrorist attack.</p>

    <p>Nelson and his protégé Melissa lead the investigation for ASTU, but what should be an exemplary investigation soon runs into difficulties and dangers. While ASTU hunt the perpetrators of the crime, the investigation and the attack becomes a game of opportunity for more than one side. In the world of Hannover everything and everyone is connected, no one will leave the Hannover Game untouched.</p>


<hr>

<h2 style="color: red;">Meet the Hannover Team</h2>
<h3>The Author</h3>
    <img src="images/markJDiez-001.jpg" alt="Picture of Mark J Diez" align="left" style="margin-right:10px; height: 240px; width: 250px;">
    
    <p>Mark J Diez began writing fiction in 1995, starting with the Tales of Malartu fantasy series of short stories and gamebooks. After several years focusing on fantasy adventure writing for video and board game worlds he migrated to action adventure and the Hannover series.</p>

    <p>His debut novel, The Hannover Game, is an innovative break from the usual indie author approaches. Drawing on his experience creating fantasy worlds, Diez has wrapped the novel in a lively online community and website. Readers are able to join one of the Hannover world's teams, complete puzzles, solve challenges and shift the Balance of Power in their favour.</p><br>

<br><h3>The Editor</h3>
    <img src="images/loreleiLogsdon-001.jpg" alt="Picture of Lorelei Logsdon" align="left" style="margin-right:10px; height: 240px; width: 250px;">
    
<p><b>Lorelei Logsdon</b> has served as editor for close to 300 published books, and has over twenty years of experience as a writer and communications specialist within multiple industries. She have a bachelor's degree in Communication Studies from the University of Maryland, a master's degree in English from East Carolina University, as well as graduate-level certification in teaching English to speakers of other languages (TESOL).</p>
 
<p>She has edited first-time authors, multi-published authors, and NYT, USA Today, and Wall Street Journal best-selling authors.</p>

<p>You can contact Lorelei via her website at <a href="" target="team" title="Visit Lorelei's website">http://www.loreleilogsdon.com/</a></p>

<br><h3>The Designer</h3>
    <img src="images/andreiMarchenko-001.jpg" alt="Picture of Andrei Marchenko" align="left" style="margin-right:10px; height: 240px; width: 250px;">
    
<p><b>Andrei Marchenko</b> lorem ipsum  lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum.  lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum.</p>

<br><h3>The Illustrator</h3>
    <img src="images/draganBilic-001.jpg" alt="Picture of Dragan Bilic" align="left" style="margin-right:10px; height: 240px; width: 250px;">
    
<p><b>Dragan Bilic</b> is a multiple 99designs and designcrowd communities award winner. He's a professional designer with his creative talents focused on print, web design and social media branding. So far he has designed over 1500 book covers, web banners, letterheads, postcards, Facebook banners, adds etc.</p>