<div>
	<h1>Challenges - Warm Ups</h1>
	<ul class='challenges'>
		<li>
			<div class='container'>
				<img src="http://mathworld.wolfram.com/images/eps-gif/SquareDiagonals_700.gif" />
				<table class='table info'>
					<tr>
						<td class='name'>
							Title: 
						</td>
						<td>
							<a href="/game">Introduction</a>
						</td>
					</tr>
					<tr>
						<td class='name'>
							Points: 
						</td>
						<td>
							2 points
						</td>
					</tr>
					<tr>
						<td class='name'>
							Difficulty: 
						</td>
						<td>
							Easy
						</td>
					</tr>
				</table>
			</div>
		</li>

		<li>
			<div class='container'>
				<img src="http://mathworld.wolfram.com/images/eps-gif/SquareDiagonals_700.gif" />
				<table class='table info'>
					<tr>
						<td class='name'>
							Title: 
						</td>
						<td>
							
							<a href="/game">Diggin in</a>
						</td>
					</tr>
					<tr>
						<td class='name'>
							Points: 
						</td>
						<td>
							2 points
						</td>
					</tr>
					<tr>
						<td class='name'>
							Difficulty: 
						</td>
						<td>
							Easy
						</td>
					</tr>
				</table>
			</div>
		</li>

		<li>
			<div class='container'>
			<img src="http://mathworld.wolfram.com/images/eps-gif/SquareDiagonals_700.gif" />
			<table class='table info'>
				<tr>
					<td class='name'>
						Title: 
					</td>
					<td>
						
						<a href="/game">Going deeper</a>
					</td>
				</tr>
				<tr>
					<td class='name'>
						Points: 
					</td>
					<td>
						4 points
					</td>
				</tr>
				<tr>
					<td class='name'>
						Difficulty: 
					</td>
					<td>
						Medium
					</td>
				</tr>
			</table>
			</div>
		</li>

		<li>
			<div class='container'>
			<img src="http://mathworld.wolfram.com/images/eps-gif/SquareDiagonals_700.gif" />
			<table class='table info'>
				<tr>
					<td class='name'>
						Title: 
					</td>
					<td>
						<a href="/game">Investigation</a>
					</td>
				</tr>
				<tr>
					<td class='name'>
						Points: 
					</td>
					<td>
						10 points
					</td>
				</tr>
				<tr>
					<td class='name'>
						Difficulty: 
					</td>
					<td>
						Hard
					</td>
				</tr>
			</table>
			</div>
		</li>
	</ul>
</div>