<div ng-init='auth.model=auth.currentUser'>
	<h2>
		Edit profile
	</h2>
	<div class='row' style='text-align:center;'>
		<div class='col-md-6'>
			<img src="<%- user.profilePicLarge %>" class='profile-pic' />
		</div>
		<div class='col-md-6'>
			<% if(user.team == 'astu'){%>
				<img src="/images/astu_logo_ph.png" class='profile-pic' />
			<% } %>
			<% if(user.team == 'blackdragon'){%>
				<img src="/images/bdp-image_ph.png" class='profile-pic' />
			<% } %>
			<% if(user.team == 'sorcesec'){%>
				<img src="/images/mjd_tree_ph.png" class='profile-pic' />
			<% } %>
		</div>
	</div>
	<div class='row'>
		<div class='col-md-12'>
			<fieldset class='margin-top'>
				<div class='error' ng-hide='auth.model.message'>
			    	{{auth.model.message}}
			    </div>
				<input type='hidden' value='' ng-model='auth.model.id' />
				<input type='hidden' value='' ng-model='auth.model.originalEmail' />
		        <div class="form-group row">
		            <label class="col-md-3 control-label ch-label" for='name'>
		            	Name</label>
		            <div class="col-md-9">
		                <input type='text' 
		                ng-model='auth.model.name'
		                id='name' class='form-control'/>
		            </div>
		        </div>
		        <%if(!user.fb_id){%>
		        <div class="form-group row">
		            <label class="col-md-3 control-label ch-label" for='new-pass'>
		            	New password</label>
		            <div class="col-md-9">
		                <input type='password' 
		                ng-model='auth.model.newPassword'
		                id='new-pass' class='form-control'/>
		            </div>
		        </div>

		        <div class="form-group row">
		            <label class="col-md-3 control-label ch-label" for='conf-pass'>
		            	Confirm password</label>
		            <div class="col-md-9">
		                <input type='password' 
		                ng-model='auth.model.newPasswordConfirm'
		                id='conf-pass' class='form-control'/>
		            </div>
		        </div>

		        <div class="form-group row">
		            <label class="col-md-3 control-label ch-label" for='email'>
		            	Email*
		            </label>
		            <div class="col-md-9">
		                <input type='text' id='email' 
		                ng-model='auth.model.email'
		                class='form-control' 
		                value=''/>
		            </div>
		        </div>
		        <%}%>
		        <div class="form-group row">
		            <label class="col-md-3 control-label ch-label" for='location'>
		            	Location
		            </label>
		            <div class="col-md-9">
		                <input type='text' id='location' 
		                ng-model='auth.model.location'
		                class='form-control' 
		                value=''/>
		            </div>
		        </div>

		        <div class="form-group row">
		            <label class="col-md-3 control-label ch-label" for='pic'>
		            	Avatar
		            </label>
		            <div class="col-md-9">
		                <input type='text' id='pic' 
		                ng-model='auth.model.profilePicLarge'
		                class='form-control' 
		                value=''/>
		            </div>
		        </div>

		        <div class="form-group row">
		            <label class="col-md-3 control-label ch-label" for='sign'>
		            	Signature
		            </label>
		            <div class="col-md-9">
		                <textarea style='resize:none;' 
		                ng-model='auth.model.signature'
		                id='sign' class='form-control'></textarea>
		            </div>
		        </div>

		        <div class="form-group row">
		            <div class="col-md-6 center">
		            	<button
		            	ng-click='auth.saveProfile()'
		            	class='btn btn-primary'>Save</button>
		            </div>
		            <div class="col-md-6 center">
		                <a class='btn btn-danger' href='/profile/'>Cancel</a>
		            </div>
		        </div>
		        
		    </fieldset>
	    </div>
	</div>	
</div>