
<h1 align="center">Welcome to the Hannover Series Website</h1>
<p>In the Hannover series, the world is a battle ground of a mental and physical prowess. Whether Hannover, ASTU, SorceSek or Black Dragon; everyone is called on to apply their intelligence and shift the Balance of Power.</p>

<p>As an owner of the novel <b>you too can join a team</b> and battle for dominance over other players and their teams!<br>
If you don't own a copy, get it from Amazon as an <a href="http://bit.ly/TheHannoverGame" target="book" title="Buy the eBook"><b>eBook</b></a> or in <a href="http://bit.ly/HannoverGameEbook" target="book" title="Buy the Print book"><b>Print.</b></a></p>

<h2>Join a team today</h2>
<p>To start competing in the world of Hannover all you need to do is:
    <ul>
        <li><a href="/register">Sign-up on this site</a> and choose your team</li>
        <li>Use your copy of the novel to break the first code</li>
        <li>Start to beat the puzzles and shift the Balance of Power!</li>
    </ul>

Mark J Diez
</p>

<hr>

<h2>News &amp; Updates</h2>
<p><b>Amazon</b> - The book has now been re-priced to <a href="http://bit.ly/TheHannoverGame" target="book" title="Buy the eBook">£5.78 for the eBook</a> and <a href="http://bit.ly/HannoverGameEbook" target="book" title="Buy the Print book">£8.94 for the Print</a> book. It will stay at this price over the Christmas break when we'll see how readers have responded to the pricing.</p>

<p><b>Kobo and Waterstones</b> - I've just started to process the book onto Kobo and Waterstones and should have it available there in the next couple of weeks.</p>
