<h1>Mark J Diez - Reader's Website</h1>

<p>Welcome to the site!</p>

<p>In order to join a team and play the puzzles, you will need to have a copy of the book, The Hannover Game.</p>

<h2>News &amp; Updates</h2>
<p>new and updates items go here, changes to the site, etc.</p>

<p>Buy the book <a href="http://markjdiez.com/about.html" target="book" title="Buy the Book">here.</a></p>

<nav>
    <a href="/register">Join the Reader Community</a>
    <a href="/register">Join the Reader Community</a>
    <a href="/register">Join the Reader Community</a>
</nav>

<p>Another section</p>