<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
  
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
    
    <script type="text/javascript" src='/js/lib/angular.min.js'></script>
    <script type="text/javascript" src='/js/app/app.js'></script>
    <script type="text/javascript" src='/js/app/controllers/authController.js'></script>
    
    
  </head>

  <body ng-app='puzzle' ng-controller='AuthController as auth'
    ng-init='
    <% if(currentUser) { %>
      auth.loggedIn=true;auth.currentUser=<%-JSON.stringify(currentUser)%>; 
    <% } %>
     '>
    <%- body %>



  </body>
</html>
