<!DOCTYPE html>
<html>
  <head>
    <title>Puzzle</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
  

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Include roboto.css to use the Roboto web font, material.css to include the theme and ripples.css to style the ripple effect -->
    <link href="/css/roboto.min.css" rel="stylesheet">
    <link href="/css/material.min.css" rel="stylesheet">
    <link href="/css/ripples.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/styles/main.css">
    
  </head>

  <body ng-app='puzzle'
    ng-show='true'
    class='ng-hide'
   ng-controller='AuthController as auth'
    ng-init='
    <% if(currentUser) { %>
      auth.loggedIn=true;auth.currentUser=<%-JSON.stringify(currentUser)%>; 
    <% } %>
     '>
    <div class='contaner'>
      <div class='jumbotron center page-title'>
        <h1>Balance of power</h1>
        <div class='score'>
          <div class='part sorcesec'>SorceSec 20%</div>
          <div class='part dragon'>Black Dragon 30%</div>
          <div class='part astu'>ASTU 50%</div>
        </div>
        <div class='center'>
          ASTU is winning now.
        </div>
        <div class='center'>
          <a href="/register">Sign in</a> and <a href="/challenges">complete challenges</a> to help your team hold the Balance of Power!
        </div>
      </div>
      <div class='row'>
        <div class='col-md-2'>
          <div><%= (new Date()).toDateString() %></div>
          <div class="panel panel-primary ng-hide" ng-hide='auth.loggedIn'>
              <div class="panel-heading">
                  <h3 class="panel-title">Please, enter</h3>
              </div>
              <div class="panel-body">
                  <form ng-submit='auth.login()'>
                      <div 
                      ng-show='auth.message'
                      class='clear alert alert-dismissable alert-danger ng-hide'>
                        {{auth.message}}
                      </div>
                      <div class="form-group">
                        <label for="inputEmail" class="col-lg-12 control-label">Email</label>
                        <div class="col-lg-12">
                            <input type='text' class='form-control' id="inputEmail" 
                            ng-model='auth.model.email' />
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="password" class="col-lg-12 control-label">Password</label>
                        <div class="col-lg-12">
                            <input type='password' class='form-control' id="password" 
                            ng-model='auth.model.password' />
                        </div>
                      </div>
                      <div class='clear center'>
                        <button type="submit" class="btn btn-primary">Sign in</button>
                      </div>
                      <div class='clear center'>
                        <a href="/register">Sign up</a>
                      </div>
                      <div class='clear center'>
                        <a href="/recoverPassword">Forgot password?</a>
                      </div>
                      <div class='clear center'>
                        <h3>OR</h3>
                        Login with your facebook account
                      </div>
                      <div class='clear center'>
                        <a href="/auth/facebook" class="btn btn-info">Fb login</a>
                      </div>
                      <div class='clear center'>
                        <a href="/register">Sign up</a>
                      </div>                      
                  </form>
              </div>
          </div>
          <div class="panel panel-primary ng-hide" ng-show='auth.loggedIn'>
              <div class="panel-heading">
                  <h3 class="panel-title">Hello, {{auth.currentUser.name}}</h3>
              </div>
              <div class="panel-body">
                  <img style='width: 100%;' ng-src="{{auth.currentUser.profilePicLarge}}"/>
                  <a href="/profile">Profile </a><a href="/edit"> (edit)</a><br/>
                  <a href="/auth/logout">Log out</a>
              </div>
          </div>
          <div class="panel panel-default links-section">
              <div class="panel-heading">Links section</div>
              <div class="panel-body">
                  <img src="/images/astu_logo_ph.png" class='background' />
                  <strong>
                    Community
                  </strong>
                  <ul>
                    <li>
                      <a href="/rankings">Rankings</a>
                    </li>
                    <li>
                      <a href="/points">Challenge Points</a>
                    </li>
                  </ul>

                  <strong>
                    The Challenges
                  </strong>
                  <ul>
                    <li>
                      <a href="/challenges">Warm ups</a>
                    </li>
                    <li>
                      <a href="/challenges">Patterns</a>
                    </li>
                    <li>
                      <a href="/challenges">Logical</a>
                    </li>
                  </ul>
              </div>
          </div>

          <div class="panel panel-default">
              <div class="panel-heading">Static box</div>
              <div class="panel-body">
                  Some data here
              </div>
          </div>
        </div>
        <div class='col-md-8'>
          <div class='tabs'>
            <a href="/"><div>Home</div></a>
            <a href="/about"><div>About the Site</div></a>
            <a href="/books"><div>Buy the books</div></a>
          </div>
          <div class="panel panel-default">              
              <div class="panel-body">
                  <%- body %>
              </div>
          </div>          
        </div>
        <div class='col-md-2'>
          <img src="/images/mjd_tree_ph.png" style='width: 100%;'/>
          <div class='clear center'>
            <a href="/">Main site</a>
            |
            <a href="/">Wiki</a>
          </div>
          <div class='clear center margin-top'>
            Find us elsewhere
          </div>
          <div class='row'>
            <div class='col-md-4'>
              <div class='icon'>
                <img src="/images/facebook_40.png" alt='Facebook' title='Facebook'>
              </div>              
            </div>
            <div class='col-md-4'>
              <div class='icon'>
                <img src="/images/twitter-icon.png" alt='Twitter' title='Twitter'>
              </div>              
            </div>
            <div class='col-md-4'>
              <div class='icon'>
                <img src="/images/youtube-small.png" alt='Youtube' title='Youtube'>
              </div>              
            </div>
          </div>
          <div class="panel panel-default margin-top" style='height:400px;'>
              <div class="panel-body center">
                  Advert goes here
              </div>              
          </div>
        </div>
      </div>      
      <div class='row'>
        <div class="panel panel-default margin-top">
              <div class="panel-body center">
                  <h2>Footer</h2>
              </div>              
          </div>
      </div>
    </div>

    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <script src="/js/ripples.min.js"></script>
    <script src="/js/material.min.js"></script>
    <script>
        $(document).ready(function() {
            // This command is used to initialize some elements and make them work properly
            $.material.init();
        });
    </script>

    <script type="text/javascript" src='/js/lib/angular.min.js'></script>
    <script type="text/javascript" src='/js/app/app.js'></script>
    <script type="text/javascript" src='/js/app/controllers/authController.js'></script>
  </body>
</html>
