<div>
	<h1>Challenge points</h1>
	<div class='center'>
		<h2>You have 133 points from a total of 319</h2>
	</div>
	<div class='point-container'>
		<h3>Warm Ups (15/33)</h3>
		<table class='table'>
			<tr>
				<td>
					<div class='ch-tag complete'>1</div>
				</td>
				<td>
					<a href="/points">Introduction</a>
				</td>
				<td>
					2 points
				</td>
				<td>
					Easy
				</td>
			</tr>
			<tr>
				<td>
					<div class='ch-tag complete'>2</div>
				</td>
				<td>
					<a href="/points">Diggin in</a>
				</td>
				<td>
					2 points
				</td>
				<td>
					Easy
				</td>
			</tr>
			<tr>
				<td>
					<div class='ch-tag'>3</div>
				</td>
				<td>
					<a href="/points">Going deeper</a>
				</td>
				<td>
					4 points
				</td>
				<td>
					Medium
				</td>
			</tr>
			<tr>
				<td>
					<div class='ch-tag'>4</div>
				</td>
				<td>
					<a href="/points">Investigation</a>
				</td>
				<td>
					10 points
				</td>
				<td>
					Hard
				</td>
			</tr>
		</table>
	</div>

	<div class='point-container'>
		<h3>Word Games (20/42)</h3>
		<table class='table'>
			<tr>
				<td>
					<div class='ch-tag'>1</div>
				</td>
				<td>
					<a href="/points">Scrable</a>
				</td>
				<td>
					2 points
				</td>
				<td>
					Easy
				</td>
			</tr>
			<tr>
				<td>
					<div class='ch-tag complete'>2</div>
				</td>
				<td>
					<a href="/points">Guess it</a>
				</td>
				<td>
					2 points
				</td>
				<td>
					Easy
				</td>
			</tr>
			<tr>
				<td>
					<div class='ch-tag'>3</div>
				</td>
				<td>
					<a href="/points">Guess it again</a>
				</td>
				<td>
					4 points
				</td>
				<td>
					Medium
				</td>
			</tr>
			<tr>
				<td>
					<div class='ch-tag complete'>4</div>
				</td>
				<td>
					<a href="/points">The truth is out there</a>
				</td>
				<td>
					10 points
				</td>
				<td>
					Hard
				</td>
			</tr>
			<tr>
				<td>
					<div class='ch-tag complete'>5</div>
				</td>
				<td>
					<a href="/points">Got it!</a>
				</td>
				<td>
					10 points
				</td>
				<td>
					Hard
				</td>
			</tr>
		</table>
	</div>
</div>