<div>
	<h1>Rankings</h1>
	<table class='table'>
		<thead>
			<tr>
				<th>Rank</th>
				<th>User</th>
				<th>Team</th>
				<th>Points</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td><a href="/profile"><img class='pic-small' src="http://englishbookgeorgia.com/blogebg/wp-content/uploads/2014/12/Albert-Einstein.jpg" /> 
					Albert Einstein
					</a>
				</td>
				<td>ASTU</td>
				<td>317</td>
			</tr>
			<tr>
				<td>2</td>
				<td><a href="/profile"><img class='pic-small' src="http://www.rutherfordjournal.org/images/TAHC_Turing_1A.jpg" /> 
					Alan Turing
					</a>
				</td>
				<td>ASTU</td>
				<td>288</td>
			</tr>
			<tr>
				<td>3</td>
				<td><a href="/profile"><img class='pic-small' src="http://www.washington.edu/news/files/2011/10/RichardFeynmanBBC.jpg" /> 
					Richard Feynman
					</a>
				</td>
				<td>SourceSec</td>
				<td>276</td>
			</tr>
			<tr>
				<td>4</td>
				<td><a href="/profile"><img class='pic-small' src="https://s-media-cache-ak0.pinimg.com/736x/9b/d8/51/9bd851443d977f265d7acf7e8495690f.jpg" /> 
					Freeman Dyson
					</a>
				</td>
				<td>ASTU</td>
				<td>253</td>
			</tr>
		</tbody>
	</table>
</div>