<div>
	<h2>Select all even numbers</h2>
	<table id='game-table'>
		<tbody>
			<tr>
				<td>11</td>
				<td>22</td>
				<td>34</td>
				<td>17</td>
			</tr>
			<tr>
				<td>193</td>
				<td>71</td>
				<td>2</td>
				<td>112</td>
			</tr>
			<tr>
				<td>43</td>
				<td>54</td>
				<td>3</td>
				<td>552</td>
			</tr>
		</tbody>
	</table>
</div>