<link href="/styles/games/textQuest.css" rel="stylesheet">
<script type="text/javascript" src="/js/games/textQuest.js"></script>
<div class='main'>
	<div class='action_1'>
		<h2 class='state_1'>You are standing at a door. What are you going to do?</h2>
		<h2 class='state_2' 
		style='display:none;'>You knocked at the door. Nothing happened. What's next?</h2>
		<h2 class='state_3' 
		style='display:none;'>You are waiting. Nothing happenes. What's next?</h2>
		<ul>
			<li data-action='1'>Knock at the door</li>
			<li data-action='2'>Batter the door down</li>
			<li data-action='3'>Just wait</li>
		</ul>
	</div>
	<div class='action_2' style='display:none;'>
		<h2 class='state_1'>After the door you see a safe. You have to type in the code.</h2>
		<h2 class='state_fail' 
		style='display:none;'>The safe didn't open.</h2>
		<h2 class='state_2' 
		style='display:none;'>You look around. You see a crumpled paper on the floor.</h2>
		<h2 class='state_code' 
		style='display:none;'>Only four numbers are written on the paper: 4235</h2>
		<label>Code:</label> <input type='number' class='code' maxlength='4' />
		<ul>
			<li data-action='1'>Try to open the safe</li>
			<li data-action='2' class='action_look'>Look around</li>
			<li data-action='3' class='action_read' style='display:none;'>Read the paper</li>
		</ul>
	</div>
	<div class='action_3' style='display:none;'>
		<h2 class='state_1'>Congratulations! You opened the safe and found the secret documents.</h2>
	</div>
</div>