body{
	background: url(/images/background.jpg);
	max-width: 1200px;
	min-width: 1200px;
  	margin: auto;
  	padding-top: 10px;
}
.tabs{width: 100%; text-align: right;  margin-bottom: 4px;}
.tabs div{padding: 5px;margin: 5px -1px 0 -3px; background: white;border: 1px solid #ddd;display: inline;}
.clear{
	float: none;
	clear: both;
}
.center{
	text-align: center;
}
ul{
	list-style: none;
}
.icon-stub{
	margin: 10px auto;
	clear: both;
	float: none;
	height: 40px;
	width: 40px;
	background: navy;
	border: 1px solid gray;
	border-radius: 4px;
}
.icon{
	margin: 10px auto;
	clear: both;
	float: none;
	height: 40px;
	width: 40px;
	cursor: pointer;
}
.pic-small{
	max-width: 100px;
	max-height: 50px;
	border-radius: 50px;
	border: 2px solid white;
	box-shadow: 0 1px 6px 0 rgba(0,0,0,.12),0 1px 6px 0 rgba(0,0,0,.12); 
}
.margin-top{
	margin-top:20px;
}
.links-section{
	background: rgba(255,255,255,0.8);
}
.links-section .panel-body{
	position: relative;
}
img.background{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  top: 0;
  left: 0;
}
.team{
	cursor: pointer;
	box-sizing: border-box ;
}
.team.selected{
	border: 3px solid #009688;
	border-radius: 5px;
}
.error{
	text-align: center;
	color: red;
	font-size: 24px;
}
.profile-pic{margin: auto;max-height: 200px;max-width: 200px;}
.ch-label{text-align: right;}
.ch-tag{float: left;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 4px;
  height: 24px;
  margin: 3px;
  padding: 0px 3px 3px 3px;
  line-height: 20px;
}
.ch-tag.complete{background: green;color: white;font-weight: bold;}
.point-container{padding: 0 60px;margin-top: 20px;}
.point-container h3{margin-left: -40px;}
.point-container table tr td{border: none;}
.challenges{list-style: none;}
.challenges li img{max-height: 105px; max-width: 105px; float: left;margin-right: 20px;}
.challenges li .container{width: 100%}
.challenges li .info{float: left;width:60%;}
.challenges li .info tr td{border: none;}
.challenges li .info .name{font-weight: bold;width: 150px;}
.game-container table tr td{  border-bottom: 1px solid #ddd;  border-top: none;}
.game-container img{width: 87%;margin: 10px 40px;}
.game-container .actions .btn{margin: 0 20px;}
.game-container .actions{margin-bottom: 40px;}
.game-container .name{font-weight: bold;}
.page-title h1{font-size: 40px;margin-top: 0px;}
.page-title{font-size: 16px;}
.page-title .score{
	padding: 0 10%;	
	width: 100%;
	height: 40px;
	border-radius: 6px;
	margin-bottom: 20px;
}
.page-title .score .part{float: left;box-sizing:border-box;border: 1px solid black;height: 40px;text-align: center;  padding-top: 9px;font-size: 16px;  font-weight: bold;}
.page-title .score .sorcesec{background: green;width: 20%;color: black;}
.page-title .score .dragon{background: black;width: 30%;color: white}
.page-title .score .astu{width: 50%;background: darkblue;color: #ddd}
.ng-hide{display: none;}