body{
	background: url(/images/background.jpg);
	max-width: 1200px;
	min-width: 1200px;
  	margin: auto;
  	padding-top: 10px;
}
.clear{
	float: none;
	clear: both;
}
.center{
	text-align: center;
}
ul{
	list-style: none;
}
.icon-stub{
	margin: 10px auto;
	clear: both;
	float: none;
	height: 40px;
	width: 40px;
	background: navy;
	border: 1px solid gray;
	border-radius: 4px;
}
.icon{
	margin: 10px auto;
	clear: both;
	float: none;
	height: 40px;
	width: 40px;
	cursor: pointer;
}
.pic-small{
	max-width: 100px;
	max-height: 50px;
	border-radius: 50px;
	border: 2px solid white;
	box-shadow: 0 1px 6px 0 rgba(0,0,0,.12),0 1px 6px 0 rgba(0,0,0,.12); 
}
.margin-top{
	margin-top:20px;
}
.links-section{
	background: rgba(255,255,255,0.8);
}
.links-section .panel-body{
	position: relative;
}
img.background{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  top: 0;
  left: 0;
}
.team{
	cursor: pointer;
	box-sizing: border-box ;
}
.team.selected{
	border: 3px solid #009688;
	border-radius: 5px;
}
.error{
	text-align: center;
	color: red;
	font-size: 24px;
}
.profile-pic{margin: auto;height: 200px;max-width: 200px;}
.ch-label{text-align: right;}
.ch-tag{float: left;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 4px;
  height: 24px;
  margin: 3px;
  padding: 0px 3px 3px 3px;
  line-height: 20px;
}
.ch-tag.complete{background: green;color: white;font-weight: bold;}